# Dependencies
node_modules
npm-debug.log
bun.lockb

# Build artifacts
.next
out
dist
build

# Development
.env
.env.local
.env.development
.env.test
.env.production
.git
.editorconfig

# IDE
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# Testing
.coverage
.nyc_output
coverage

# Documentation
README.md
docs

# CI/CD
.github
.gitlab-ci.yml
.circleci

# Miscellaneous
*.md
.eslintignore
.prettierignore
