name: Deploy Prisma Migrations
on:
  push:
    paths:
      - prisma/migrations/**
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Apply all pending migrations to the database
        run: bun run prisma migrate deploy
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
